img

{
	width: 100%;

}

.list li

{
	display: inline-block;
}

.list

{
	list-style-type: none;
}

.list li

{

	margin-right: 2%;

	margin-bottom: 2%;

}

.styleimg
{

	transition: all 0.4s ease 0s;

	width: 200px; 

	height: 200px;	

	
}

.styleimg:hover

{
		 box-shadow: 4px 6px 5px #888888;

}


@media (max-width: 503px ){
	.styleimg{
		width: 90%;
		border: 2px solid grey;
	}

}